<form class="form-group" action="/admin_add_store" method="post">
    <h2>Add a store</h2>
    <label for='name'>Store Name:</label>
    <input  class="form-control" id='name' name='name' type='text'><br>

    <!-- <label for='copies_total'>Copies Total:</label>
    <input  class="form-control" id='copies_total' name='copies_total' type='text'><br> -->

    <button class="btn btn-lg btn-primary"type='submit'>Add Store</button>
</form>
<form class="form-group" action="/delete_all_stores" method="post">
    <input value="delete" type='hidden' name='_method'>
    <button class="btn btn-lg btn-warning"type='submit'>WARNING: THIS BUTTON WILL NUKE ALL STORES!</button>
</form>
