<table style='width:100%'>
    <caption> <h2>List of Brands</h2> </caption>
    <tr>
        <th>
            Brand
        </th>
    </tr>
    {% if brands is not empty %}
        {% for brand in brands %}
            <tr>
                <td>
                    <h4>{{ brand.getName}}</h4>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>
                    No brands available
            </td>
        </tr>
    {% endif %}
</table>
