<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
      <h1>Blake's Shoe Store Application:</h1>
      <h3><em>Administration Page</em></h3>
        <div class="row">
            <div class="col-md-6">
                {% include '/includes/addstore.html.twig' %}
            </div>
            <div class="col-md-6">
                {% include '/includes/addbrand.html.twig' %}
            </div>
        </div><!--row-->
        <hr>
        <div class="row">
            <div class="col-md-6">
                {% include '/includes/showAllStores.html.twig' %}
            </div>
            <div class="col-md-6">
                {% include '/includes/showAllBrands.html.twig' %}
            </div>
        </div><!--row-->
        <div id='navigation'>
            <p>
                <h1><a href="/">Home</a></h1>
            </p>
        </div>
    </div><!--container-->
  </body>
</html>

<!--workspace-->
