<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
      <h1>Cool Cats Library</h1>
      <h3><em>Welcome to the Home Page</em></h3>

    <div class="">
        <p>
            <a href="/admin">Admin</a>
        </p>
    </div>


    </div>

  </body>
</html>
